<html>
  <head>
    <style>
      table, th, td {
	  border: 1px solid black;
      }
    </style>
    <title>Likes Page</title>
  </head>
  <body bgcolor=white>

    {% if user %}
    <h1>{{ user }}</h1>
    {% else %}
    <h1>Unknown User</h1>
    {% endif %}

    <h3>Saved Restaurants</h3>
    
     {% if data %}
    <div style="overflow-y:auto;height:500px">
       <table>
	 <tr>
	   <th>Name</th>
	   <th>Address</th>
	   <th>Zipcode</th>
	   <th>City</th>
	   <th>Rating</th>
	   <th>Price</th>
	 </tr>


	 {% for item in data %}
	 <tr>
	     <td>{{ item[0] }}</td>
	     <td>{{ item[1] }}</td>
	     <td>{{ item[2] }}</td>
	     <td>{{ item[3] }}</td>
	     <td>{{ item[4] }}</td>
	     <td>{{ item[5] }}</td>
	 </tr>
	 
	 {% endfor %}
	 

       </table>
     </div>
       
    {% else %}
    <p>No restaurant data is available.</p>
    {% endif %}
    
    <form method="GET", action = "/">
      <input type="submit" value = "Back">
    </form>
    
  </body>
</html>
