<html>
  <head>
      <link rel="icon" href="https://raw.githubusercontent.com/AlexWayfer/flame/master/public/favicon.ico">
    <style type="text/css">
      table, th, td {
	  border: 1px solid black;
      }
    a:link, a:visited{
        text-decoration: none;
        color: black;
    }
    a:hover, a:active{
        color: red;
    }
    </style>
    <title>HotSpot | User Page</title>
  </head>
  <body bgcolor=white>

    {% if user %}
    <h1><a href="#">{{ user }}</a></h1>
    {% else %}
    <h1><a href="#">[Unknown_User]</a></h1>
    {% endif %}

    
    {% if data %}
    <div style="overflow-y:auto;height:500px;display:inline-block">
      
      <h3>saved restaurants</h3>
      <table>
	<tr>
	  <th>name</th>
	  <th>address</th>
	  <th>zipcode</th>
	  <th>city</th>
	  <th>rating</th>
	  <th>price</th>
	</tr>


	{% for item in data %}
	<tr>
	  <td>{{ item[0] }}</td>
	  <td>{{ item[1] }}</td>
	  <td>{{ item[2] }}</td>
	  <td>{{ item[3] }}</td>
	  <td>{{ item[4] }}</td>
	  <td>{{ item[5] }}</td>
	  <td>
	    <form method="POST", action="/likeDelete">
	      <input type="hidden" name="like" value="{{ item[6] }}">
              <input type="submit" value = "delete">
	    </form>
	  </td>
	</tr>
	
	{% endfor %}
	

      </table>
    </div>
    
    {% else %}
    <p>no restaurant data is available</p>
    {% endif %}

    {% if res %}
    <div style="overflow-y:auto;height:500px;display:inline-block">
      
      <h3>reservations</h3>
      <table>
	<tr>
	  <th>restaurant name</th>
	  <th>date</th>
	  <th>time</th>
	</tr>


	{% for item in res %}
	<tr>
	  <td>{{ item[0] }}</td>
	  <td>{{ item[1] }}</td>
	  <td>{{ item[2] }}</td>
	  <td>
	    <form method="POST", action="/resDelete">
	      <input type="hidden" name="res" value="{{ item[3] }}">
	      <input type="submit" value = "delete">
	    </form>
	  </td>

	</tr>
	
	{% endfor %}
	

      </table>
    </div>
    {% else %}
    <p>no reservation data is available</p>
    {% endif %}
    
    
    <form method="GET", action = "/">
      <input type="submit" value = "back">
    </form>
    
  </body>
</html>
