<html>
  <head>
    <style>
      table, th, td {
	  border: 1px solid black;
      }
    </style>
    <title>User Page</title>
  </head>
  <body bgcolor=white>

    {% if user %}
    <h1>{{ user }}</h1>
    {% else %}
    <h1>[Unknown_User]</h1>
    {% endif %}

    
    {% if data %}
    <div style="overflow-y:auto;height:500px;display:inline-block">
      
      <h3>Saved Restaurants</h3>
      <table>
	<tr>
	  <th>Name</th>
	  <th>Address</th>
	  <th>Zipcode</th>
	  <th>City</th>
	  <th>Rating</th>
	  <th>Price</th>
	  <th></th>
	</tr>


	{% for item in data %}
	<tr>
	  <td>{{ item[0] }}</td>
	  <td>{{ item[1] }}</td>
	  <td>{{ item[2] }}</td>
	  <td>{{ item[3] }}</td>
	  <td>{{ item[4] }}</td>
	  <td>{{ item[5] }}</td>
	  <td>
	    <form method="POST", action="/likeDelete">
	      <input type="hidden" name="like" value="{{ item[6] }}">
	      <input type="submit" value = "Delete">
	    </form>
	  </td>
	</tr>
	
	{% endfor %}
	

      </table>
    </div>
    
    {% else %}
    <p>No restaurant data is available.</p>
    {% endif %}

    {% if res %}
    <div style="overflow-y:auto;height:500px;display:inline-block">
      
      <h3>Reservations</h3>
      <table>
	<tr>
	  <th>Restaurant Name</th>
	  <th>Date</th>
	  <th>Time</th>
	</tr>


	{% for item in res %}
	<tr>
	  <td>{{ item[0] }}</td>
	  <td>{{ item[1] }}</td>
	  <td>{{ item[2] }}</td>
	  <td>
	    <form method="POST", action="/resDelete">
	      <input type="hidden" name="res" value="{{ item[3] }}">
	      <input type="submit" value = "Delete">
	    </form>
	  </td>

	</tr>
	
	{% endfor %}
	

      </table>
    </div>
    {% else %}
    <p>No reservation data is available.</p>
    {% endif %}
    
    
    <form method="GET", action = "/">
      <input type="submit" value = "Back">
    </form>
    
  </body>
</html>
